*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Fredoka', sans-serif;
}

/* titolo e paragrafo */

header{
    margin-top: 30px;

    text-align: center;
}

header h1{
    color: #e53170;
    margin-bottom: 40px;
}

/* main */

span{
    display: block;
}

.container, {
    clear: both;
}

/* card general */

.card{
    float: left;
    width: calc(100%/3 - 40px);

    background-color: #0e0f17;
    color: white;

    margin-left: 20px;
    margin-top: 50px;
}

/* card img */

.card img{
    height: 100px;
    float: left;
}

/* card info */

.info{
    padding-top: 20px;
    padding-left: 120px;
}

/* modifica link */

span > a{
    text-decoration: none;
    color: #0096da;
}