*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Fredoka', sans-serif;
}

/* titolo e paragrafo */

header{
    margin-top: 30px;

    text-align: center;
}

header h1{
    color: #e53170;
    margin-bottom: 40px;
}

/* main */

