*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Fredoka', sans-serif;
}

/* titolo e paragrafo */

header{
    margin-top: 30px;

    text-align: center;
}

header h1{
    color: #e53170;
    margin-bottom: 40px;
}

/* main */

.container{
    margin-top: 50px;
    clear: both;
}

.card{
    float: left;
    width: calc(100%/3 - 30px);

    background-color: #0e0f17;
    color: white;

    margin-left: 15px;
}


.card img{
    height: 100px;
    float: left;
}

.info{
    padding-top: 10px;
    padding-left: 110px;
}
